################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwaggerApiVersionamento/.vs/SwaggerApiVersionamento/v16
