################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwaggerApiVersionamento/.vs/SwaggerApiVersionamento/v16
/SwaggerApiVersionamento/SwaggerApiVersionamento/bin/Debug/netcoreapp2.2
/SwaggerApiVersionamento/SwaggerApiVersionamento/obj
